/* Fonts */
@font-face {
    font-family: 'rubik';
    src: url('/fonts/rubik-regular-webfont.woff2') format('woff2'),
         url('fonts/rubik-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
:root {
    --color-main: #1992d4;
}
/* Styles */
html {
    font-family: rubik;
    font-size: 16px;
    color: #000;
}
h1 {
    font-size: 2em;
}

.container {
    display: grid;
    /* TODO: ajustar columna con autofix(220 px) */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1fr;
    min-height: 100vh;
}

aside.sidebar {
    grid-row-end: span 2;
    color: #fff;
    background-color: var(--color-main);
}

aside.sidebar ul {
    list-style-type: none;
    margin: 20px;
}

.container > main {
    min-height: 100%;
}

.container > * {
    border: 1px solid red;
    min-height: 100px;
}
