/* Variables */
:root {
    --color-main: #1992d4;
}
/* Styles */
html {
    font-size: 16px;
    color: #000;
}
h1 {
    font-size: 2em;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 200px 1fr;
    min-height: 100vh;
}

aside.sidebar {
    grid-row-end: span 2;
    color: #fff;
    background-color: var(--color-main);
}

aside.sidebar ul {
    list-style-type: none;
    margin: 20px;
}

.container > main {
    min-height: 100%;
}

.container > * {
    border: 1px solid red;
    min-height: 100px;
}
